header, main, footer {
    margin: 1rem auto;
    max-width: 760px;
}
header{
    font-size: 20px;
    padding: 10px;
    line-height: 4px;
}
img {
    width: 180px;
    box-shadow: 0px 0px 20px black;
}
ul {
    font-family: impact, sans-serif;
    font-size: 16px;
}
header, footer {
    color: #383838;
    background-color: #DFAB01;
    text-align: center;
    border-radius: 10px;
}
footer {
    font-size: 15px;
    height: 35px;
    line-height: 10px;
    font-family: impact, sans-serif;
    padding: 1rem;
}
main {
    padding: 1rem;
}
main h2{
    border-bottom: 1px solid black;
    line-height: 35px;
    font-size: 28px;
    margin-bottom: 2px;
}
footer a{
    color: #383838;
}
footer p {
    color: black;
}
h2, h1 {
    font-family: 'Open Sans Condensed', sans-serif;
}


