/*------HEADER------*/
header {
    padding: 0px;
}
h1 {
    font-size: 50px;
    color: $secondary;
    text-align: center;
}
header img {
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    width: 65%;
}

/*navigation alterations*/
.navigation {
    float: unset;
}
.navigation li:first-child {
    display: none;
}
.navigation li {
    display: block;
    flex: 1 1 100%;
}
.navigation a {
    text-align: center;
}
.left-block {
    background-color: $primaryColor;
    display: block;
    width: 25%;
    height: 100%;
    float: left;
    margin: 0;
    position: fixed;
}
nav div.contact {
    display: block;
    color: $secondary;
    padding-top: 40px;
    text-align: center;
    p {
        padding-top: 20px;
    }
}

.types span.row-one, .types span.row-two {
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
}
.types span.row-two {
    justify-content: center;
}

/*------MAIN------*/
body {
    position: relative;
}
main {
    width: 75%;
    float: right;
}
.panorama {
    max-width: 707px;
    float: right;
}
div.contact-info {
    display: flex;
    justify-content: space-evenly;
    text-align: left;
}
/*------FOOTER-----*/
footer { 
    width: 70%;
    font-size: 17px;
}