@media only screen and (min-width: 60em) {
    /*main changes for large*/
    main {
        margin: 2rem auto;
        max-width: 960px;
    }
    /*navigation alterations*/
    .navigation {
        display: flex;
    }
    .navigation li:first-child {
        display: none;
    }
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }
    .navigation a {
        text-align: center;
    }
    footer {
        max-width: 965px;
        margin: 2rem auto;
    }
    header {
        font-size: 18px;
    }
    header.headerContent {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    h1 {
        font-size: 42px;
    }
    header img {
        width: 100px;

    }
    main h2 {
        font-size: 30px;
    }
    main div {
        font-size: 25px;
    }
    .weather-description {
        left: 60px;
    }
}