header, main, footer {
    margin: 1rem auto;
    max-width: 760px;
}
header, main {
    font-family: 'Open Sans Condensed', sans-serif;
}
header{
    padding: 10px;
    line-height: 8px;
}
header, footer {
    color: #ffffff;
    background-color: #e1ad01;
    text-align: center;
    border-radius: 10px;
}
footer {
    font-size: 15px;
    height: 35px;
    line-height: 10px;
    font-family: impact, sans-serif;
    padding: 1rem;
}
.ruleofthirds {
    grid-area: thirds;
    background-color: #D3D3D3;
    border-radius: 10px;
    overflow: hidden;
    vertical-align: top;
}
.alignment {
    grid-area: align;
    background-color: #D3D3D3;
    border-radius: 10px;
    overflow: hidden;
    vertical-align: top;
}
.contrast {
    grid-area: contrast;
    background-color: #D3D3D3;
    border-radius: 10px;
    overflow: hidden;
    vertical-align: top;
}
main {
    padding: 1rem;
    display: flex;
}
section h3 {
    font-size: 30px;
    text-align: center;
    background-color: black;
    color: white;
    margin-top: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
}
header h1 {
    font-size: 40px;
}
header h2 {
    font-size: 35px;
}
footer p {
    color: black;
}
.gridarea {
    display: grid;
    grid-gap: 10px;

    grid-template-areas: 
    "thirds"
    "align"
    "contrast";
}
section p, section a {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
    line-height: 20px;
}
section img {
    padding: 5%;
    max-width: 90%;
    position: relative;
}
@media only screen and (min-width: 32.5em) {
    .gridarea {
        grid-template-areas: 
        "thirds align"
        "contrast contrast"
        "foot foot";
    }
}
@media only screen and (min-width: 60em) {
    .gridarea {
        grid-template-areas: 
        "thirds align contrast";
    }
}