main {
    max-width: 250px;
    margin: auto;

}
table {
    text-align: center;
    box-shadow: 10px 10px 10px #628ca6;
    justify-self: center;
}
thead, tfoot {
    background-color: #7fb9c2;
    color: black;
}
table, td, th , thead, tfoot, tbody {
    border: solid 1px lightgrey;
    border-collapse: collapse;
    padding: 5px;
    font-family: 'Ubuntu', sans-serif;
}
tbody tr {
    background-color: #e7f0ed;
}
tbody tr:nth-child(odd) {
    background-color: #e7ffed;
}
thead {
    font-size: 20px;
    font-weight: 800;
    font-size: 25px;
}
th {
    background-color: #628ca6;
    color: white;
}
tbody {
    font-size: 15px;
}
tfoot {
    font-size: 10px;
    font-weight: bold;
}
.metgoal {
    background-color: #628ca6;
    color: white;
}
span {
    font-style: italic;
}
/*colors light grey back #e7f0ed, pale green back#e7ffed (data rows) and 
dark blue back #628ca6, head and footer#7fb9c2*/