@media only screen and (min-width: 35em) {

    /*main changes*/
    main {
        max-width: 560px;
    }
    header {
        background-color: #5fbfc5;
        height: 100px;
        line-height: 8px;
        padding-top: 20px;
        padding-bottom: 20px;
        justify-content: center;
        font-size: 20px;
    }
    h1 {
        font-size: 35px;
    }
    header img {
        width: 80px;

    }
    main h2 {
        font-size: 25px;
    }
    main div {
        font-size: 20px;
    }

    
}
