
header, nav, footer {
    font-family: 'Cinzel', serif;
    font-size: 15px;
    color: #383838;
}
body {
    margin: 0;
}
/*navigation set up*/
nav {
    background-color: #DFAB01;
    width: 100%;
}
.navigation {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 15px;
}
.navigation li {
    display: block;
}
.responsive li:first-child {
    display: block;
}
.navigation a {
    display: block;
    text-align: left;
    text-decoration: none;
    color: #383838;
    padding: .8rem 2%;
}

nav ul li.active a {
    background-color: rgba(0,0,0,0.2);
    color: #fff;
}
nav ul li a:hover {
    background-color: rgba(0,0,0,0.4);
}
.responsive li {
    display: none;
}
/*header/footer set up*/
header, footer {
    width: 100%;
    text-align: center;
}
header {
    background-color: #5fbfc5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    line-height: 4px;
    font-size: 15px;
}
header.headerContent {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #383838;
}
h1 {
    font-size: 25px;
}
header img {
    width: 70px;
    margin-right: .5rem;
}
footer {
    height: 25px;
    background-color: #DFAB01;
    line-height: 4px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    align-content: center;
    font-size: 13px;
}
/*Main set up*/
main {
    margin: 2rem auto;
    width: 100%;
}
main h2 {
    font-size: 20px;
    color: #033f63
}
main div {
    background-color: #ccc;
    border-style: dashed;
    border-color: #033f63;
    font-size: 15px;
    padding: 14px;
    margin-top: 10px;
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
}

