html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; }
header, nav, footer, main {
    font-family: 'Cinzel', serif;
    font-size: 15px;
    color: $primaryColor;
    margin-top: 0;
}
body {
    padding: 0;
    margin: 0px; 

}
/*------NAV-----*/
nav div.contact {
    display: none;
}
.left-block {
    background-color: $primaryColor;
    display: block;
    justify-content: center;
}
.navigation {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 15px;
}
.navigation li {
    display: block;
}
.responsive li:first-child {
    display: block;
}
.navigation a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: $secondary;
    padding: .8rem 2%;
}
nav ul li.active a {
    background-color: $secondary;
    color: $primaryColor;
}
nav ul li a:hover {
    background-color: rgba(0,0,0,0.4);
    color: $secondary;
}
.responsive li {
    display: none;
}

/*------HEADER------*/
header {
    padding: 10px;
}
h1 {
    font-size: 40px;
    color: $secondary;
    text-align: center;
}
header img {
    display: flex;
    margin: 0 auto;
    margin-top: 25px;
    width: 60px;
}
/*------MAIN------*/

main div.main-body {
    padding-top: 40px;
}
.panorama {
    width: 100%;
    margin-bottom: 30px;
}
h2 {
    font-size: 35px;
    text-align: center;
    color: $accentTwo;
}
h3 {
    font-size: 30px;
}
.types span.row-one div, .types span.row-two div {
    padding: 30px;
    text-align: center;
    img {
        max-width: 200px;
    }
}

/*------WEATHER------*/
.weather {
    display: block;
    justify-content: center;
    margin: 0 auto;
}
.curr h3, .five h3 {
    text-align: center;
}
.weather-box-curr, .weather-box-five {
    padding: 20px;
    background-color: $accentOne;
    opacity: 80%;
    font-size: 20px;
    width: 200px;
    border-style: solid;
    border-width: 2px;
    border-color: $primaryColor;
    margin: 20px auto;
}
.grid-hold {
    justify-content: left;
    display: grid;
    gap: 5px 5px;
    font-size: 15px;
    margin: 0;
}
.weather div {
    div {
        padding-top: 5px;
    }
    h4 {
    margin: 0;
    text-align: left;
    border-bottom: solid 1px $primaryColor;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    }
}
.grid-hold p {
    margin: 0;
}
.left-grid {
    text-align: right;
    grid-column-start: 1;
    grid-column-end: 2;
}
.right-grid {
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: left;
}
.row-one {
    grid-row-start: 1;
    grid-row-end: 2;
}
.row-two {
    grid-row-start: 2;
    grid-row-end: 3;
}
.row-three {
    grid-row-start: 3;
    grid-row-end: 4;
}
/*------RENTAL SUMMARY ------*/
.summary div {
    padding: 20px;
    font-size: 20px;
    top: 25px;
    left: 50px;
    margin: 5px;
    h4 {
        border-bottom: 2px solid $accentOne;
    }
    p {
        padding: 10px;
    }
}
/*------RENTAL TYPES------*/
.table-row {
    display: table-row;
}
.table-item {
    display: table-cell;
    border: 1px solid black;
    padding: 10px;
    font-size: 20px;
    width: 70px;
}
/*------FOOTER-----*/
footer { 
    float: right;
    margin: 0 auto;
    font-size: 15px;
    padding: 15px;
    padding-left: 0;
    border-top: 2px solid $primaryColor;
    text-align: right;
    line-height: 20px;
}
footer img {
    width: 20px;
    padding: 5px;
    padding-top: 10px;
    float: right;
}
footer p {
    font-size: 12px;
    margin-right: 160px;
}
footer .social {
    margin-left: 30px;
}