@media only screen and (min-width: 60em) {

    /*navigation alterations*/
    .navigation {
        display: flex;
    }
    .navigation li:first-child {
        display: none;
    }
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }
    .navigation a {
        text-align: center;
    }
    footer {
        max-width: 965px;
        margin: 1rem auto;
    }
    header {
        font-size: 18px;
    }
    header.headerContent {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    h1 {
        font-size: 42px;
    }
    header img {
        width: 100px;
    }
    /*main changes for large*/
    main {
        margin: auto;
        width: 940px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    main section {
        display: block;
        flex-direction: unset;
    }
    main section:nth-child(odd) {
        flex-direction: unset;
    }
    main section h2 {
        font-size: 30px;
    }
    main section h3 {
        height: 35px;
    }

    main div.towns {
        max-width: 940px;
        flex-wrap: unset;
        display: grid;
        margin: 10px;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10px;
        padding: 0px;
        margin: 0px;
    }
    div.wireframe {
        padding: 10px;
    }
    div.wireframe h2 {
        margin: 0;
    }
    div.wireframe a {
        font-size: 20px;
    }
    main section div.info {
        width: 100%;
        margin: 0;
        padding-bottom: 10px;
    }
    main section div.photo img {
        padding: 0;
        margin: 0;
    }
    main section div.photo {
        width: 100%;
        margin: 0px;
    }
    main div.wireframe {
        max-width: 940px;
    }
}