@media only screen and (min-width: 40em) {

    /*main changes*/
    main {
        width: 620px;
    }
    header {
        background-color: #5fbfc5;
        height: 100px;
        line-height: 8px;
        padding-top: 20px;
        padding-bottom: 20px;
        justify-content: center;
        font-size: 20px;
    }
    h1 {
        font-size: 35px;
    }
    header img {
        width: 80px;
    }
    /*Footer Changes*/
    footer {
        font-size: 13px;
    }
    /*Main Changes*/

    main div.towns {
        max-width: 600px;
        margin: .5rem auto;
        display: flex;
        flex-wrap: wrap;
    }
    main section {
        display: flex;
        flex-direction: row;
        margin: 5px;
    }
    
    main section:nth-child(odd) {
        flex-direction: row-reverse;
    }
    
    main div.towns img { 
        max-width: 100%;
    }
    main section div.info {
        margin: 10px;
        width: 50%;
        padding: 0;
    }
    main section div.photo {
        margin: 20px;
        width: 50%;
        padding: 0;
    }
    /*wireframe changes*/
    main div.wireframe {
        max-width: 600px;
        margin: 0 auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    main div.wireframe h2 {
        font-size: 30px;
        margin: 0px;
        margin-bottom: 10px;
    }
    main div.article img {
        float: right;
    }
    main div.article h2 {
        font-size: 30px;
    }
    main div.article {
        padding: 20px;
    }
}
