@media only screen and (min-width: 40em) {

    /*main changes*/
    main {
        width: 620px;
    }
    header {
        background-color: #5fbfc5;
        height: 100px;
        line-height: 8px;
        padding-top: 20px;
        padding-bottom: 20px;
        justify-content: center;
        font-size: 20px;
    }
    h1 {
        font-size: 35px;
    }
    header img {
        width: 80px;
    }
    main h2 {
        font-size: 35px;
        margin-left: 30px;
    }
    main div {
        font-size: 20px;
    }
    /*Footer Changes*/
    footer {
        font-size: 13px;
    }
    /*Gallery Changes*/
    body .grid {
        display: grid;
        grid-template-columns: 300px 300px;
        grid-column-gap: 20px;
    }
}
