
header, nav, footer, main {
    font-family: 'Cinzel', serif;
    font-size: 15px;
    color: #383838;
}
body {
    margin: 0;
}
/*navigation set up*/
nav {
    background-color: #DFAB01;
    width: 100%;
}
.navigation {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 15px;
}
.navigation li {
    display: block;
}
.responsive li:first-child {
    display: block;
}
.navigation a {
    display: block;
    text-align: left;
    text-decoration: none;
    color: #383838;
    padding: .8rem 2%;
}
nav ul li.active a {
    background-color: rgba(0,0,0,0.2);
    color: #fff;
}
nav ul li a:hover {
    background-color: rgba(0,0,0,0.4);
}
.responsive li {
    display: none;
}
/*header/footer set up*/
header, footer {
    width: 100%;
    text-align: center;
}
header {
    background-color: #5fbfc5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    line-height: 4px;
    font-size: 11px;
    padding-left: 5px;
}
header .headerContent {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #383838;
}
h1 {
    font-size: 20px;
}
header img {
    width: 70px;
    margin-right: .45rem;
}
footer {
    height: 25px;
    background-color: #DFAB01;
    line-height: 4px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    align-content: center;
    font-size: 10px;
    clear: both;
}
/*Main set up*/
main {
    margin: 2rem auto;
    width: 100%;
}
main h2 {
    font-size: 30px;
    color: #033f63;
}
/* -----------FORM---------------*/
form label, form fieldset div{
    font-size: 15px;
}
form fieldset {
    margin: 2rem 0;
    border: 1px solid #033f63;
    border-radius: 10px;
    padding: .5rem 2%;
}
form legend {
    color: #033f63;
    margin: 0 1rem; 
    padding: 0 .5rem;
}
form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: gray;
}
form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    border: solid 1px #5fbfc5;
    border-radius: 4px;
    padding: .75rem;
    color: #383838;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
}
form label.sbs {
    display: block;
    padding: .25rem 0;
    color: #383838
}
form input.submitBtn {
    border: none;
    background-color: #033f63;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}
form label.top input:required {
    border-left: red solid 6px;
}
form label.top input:required:valid {
    border-left: green solid 6px;
}
form div.range {
    padding-top: 1rem;
    padding: .75rem;
    padding-left: 0;
    width: 190px;
    display: block;
    align-items: center;
}
form div.range span {
    padding-right: 15px;
}
form div.range input {
    width: 340px;
}
form label textarea.text {
    display: block;
    width: 320px;
    border: solid 1px #5fbfc5;
    border-radius: 4px;
    padding: .75rem;
    background-color: rgba(0, 0, 0, 0.1);
}
