/*navigation alterations*/
.navigation li:first-child {
    display: none;
}
.navigation li {
    display: block;
    flex: 1 1 100%;
}
.navigation a {
    text-align: center;
}
.types span.row-one, .types span.row-two {
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
}
.types span.row-two {
    justify-content: center;
}
