@media only screen and (min-width: 35em) {

    /*main changes*/
    main {
        max-width: 560px;
    }
    header {
        background-color: #5fbfc5;
        height: 100px;
        line-height: 8px;
        padding-top: 20px;
        padding-bottom: 20px;
        justify-content: center;
        font-size: 20px;
    }
    h1 {
        font-size: 35px;
    }
    header img {
        width: 80px;
    }
    main h2 {
        font-size: 35px;
        margin-left: 30px;
    }
    main div {
        font-size: 20px;
    }
    /*forcast*/
    .forecast {
        display: block;
        margin: auto;
        justify-content: center;
        padding: 15px;
    }
    .forecast h3 {
        font-size: 40px;
        margin: 10px;
        color: #dfab01
    }
    .table-hold {
        display: table;
        margin: auto;
        justify-self: center;
    }
    .table-row {
        display: table-row;
    }
    .table-item {
        display: table-cell;
        border: 1px solid black;
        padding: 10px;
        font-size: 20px;
        width: 70px;
    }
    .table-row img {
        max-width: 50px;
    }
    .top {
        background-color: #033f63;
        color: #fff;
    }
    /*article*/
    .article img {
        float: right;
        width: 360px;
        margin-top: 30px;
    }
    .article h3 {
        font-size: 40px;
    }
    /*contact*/
    .map {
        display: block;
        float: left;
        margin: 20px 20px;
        box-shadow: 0px 0px 20px #033f63;
    }
    .map img {
        width: 15em;
    }


    
}
