.sites span.row-one, .sites span.row-two {
    display: flex;
    margin: unset;
    justify-content: unset;
}
.sites span.row-two {
    justify-content: unset;
}
.sites {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    img {
        max-width: 300px;
    }
}
/*------WEATHER------*/
.weather-box-curr, .weather-box-five {
    width: 300px;
}
/*------RENTAL SUMMARY ------*/
.summary {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}
.summary div {
    width: 250px;
}
.panorama {
    max-width: 100%;
}
