.sites section.row-one, .sites section.row-two {
    display: flex;
    margin: unset;
    justify-content: unset;
}
.sites section.row-two {
    justify-content: unset;
}
.sites {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    img {
        max-width: 300px;
    }
}

.panorama {
    max-width: 100%;
}
