html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; }
header, nav, footer, main {
    font-family: 'Cinzel', serif;
    font-size: 15px;
    color: $primaryColor;
    margin-top: 0;
}
body {
    padding: 0;
    margin: 0px; 

}
/*------NAV-----*/
nav div.contact {
    display: none;
}
.left-block {
    background-color: $primaryColor;
    display: block;
    justify-content: center;
}
.navigation {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 15px;
}
.navigation li {
    display: block;
}
.responsive li:first-child {
    display: block;
}
.navigation a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: $secondary;
    padding: .8rem 2%;
}
nav ul li.active a {
    background-color: $secondary;
    color: $primaryColor;
}
nav ul li a:hover {
    background-color: rgba(0,0,0,0.4);
    color: $secondary;
}
.responsive li {
    display: none;
}

/*------HEADER------*/
header {
    padding: 10px;
}
h1 {
    font-size: 40px;
    color: $secondary;
    text-align: center;
}
header img {
    display: flex;
    margin: 0 auto;
    margin-top: 25px;
    width: 60px;
}
/*------MAIN------*/

main div.main-body {
    padding-top: 40px;
}
.panorama {
    width: 100%;
    margin-bottom: 30px;
}
h2 {
    font-size: 35px;
    text-align: center;
    color: $accentTwo;
}
h3 {
    font-size: 30px;
}
.sites span.row-one div, .sites span.row-two div {
    padding: 30px;
    text-align: center;
    img {
        max-width: 200px;
    }
}
p {
    font-size: 18px;
    width: 95%;
    margin: 0 auto;
    padding: 20px;
}

/*------FOOTER-----*/
footer { 
    float: right;
    margin: 0 auto;
    font-size: 15px;
    padding: 15px;
    padding-left: 0;
    border-top: 2px solid $primaryColor;
    text-align: right;
    line-height: 20px;
}
footer img {
    width: 20px;
    padding: 5px;
    padding-top: 10px;
    float: right;
}
footer p {
    font-size: 12px;
    margin-right: 160px;
}
footer .social {
    margin-left: 30px;
}